/* ESTILOS GENERALES */
body {
    background-image: url("https://wallpapers.com/images/high/diagonal-earth-surface-hww6at6wjhw6vx4f.webp");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px auto;
    width: auto;
    text-align: center;
}

/* TIPOGRAFÍAS */
h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 70px;
    margin: 10px;

}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 50px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.404);
}

h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 40px;
    margin: 10px;
}

h4 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    margin: 10px;
}

h5 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.493);
}

/* LISTA DE INTEGRANTES */
.integrantes li {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin: 20px;
    width: 100%;
    text-align: center;
    list-style: none; 
}

/* PÁRRAFOS */
p.uno {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin: 20px auto; 
    width: 80%;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

p.dos, label {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin: 20px auto; 
    width: 80%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

/* IMÁGENES */
.imagen-uno {
    width: 25%;
    height: auto;
    border-radius: 15px;
    margin: 20px auto;
    display: block;
}

.imagen-dos {
    width: 40%;
    height: auto;
    border-radius: 15px;
    margin: 20px auto;
    display: block;
}

.nasa {
    width: 300px;
    height: auto;
    border-radius: 15px;
    margin: 20px auto;
    display: block;
}

/* SECCIONES */
section {
    margin: auto;
    width: auto;
    padding: 10px;
}

/* CONTENEDOR PRINCIPAL */
main {
    width: auto;
    margin-bottom: 50px;
}

@keyframes show{
    from{
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}
img{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}